<!DOCTYPE html>
<head>
    <link rel="preload" href="./style/header.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet"  href="./style/header.css"></noscript>

</head>
<body>
    <header class="header1">
        <div class="oplib">
            <a href="/">OpenLibrary</a>
        </div>
        <div id="imgprofile" class="imgprofilecss">
            <img id="profileImage" onclick="toggleDropdown()">
        </div>        
        <div id="dropdown" class="dropdown-content" >
            <!-- Ensure userId is passed correctly here -->
            <a href="/user/edit">Edit Profile</a>
            <a href="#" onclick="logout()">Logout</a>
        </div>
    </header>
    <nav>
        <a href="/catalog" class="#">Search</a>
        <a href="/forumthread" class="#">Forum</a>
        <a href="/uploadbook" class="#"><strong><u>Contribute</u></strong></a>
    </nav>
</body>
