header {
    align-items: center;
}

.oplib {
    margin: 0 0 0 10px;
}

.header1 {
    border-bottom: 2px solid black;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.imgprofilecss {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.imgprofilecss img {
    width: 100%; 
    height: auto; 
    display: block; 
}

nav {
    padding: 50px 0;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav > a {
    padding: 6px 11px;
    background-color: #a08450;
    color: #d9c9ac;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a.selected {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 1720px;
    top: 96px
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

