h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond';
}

p, a, button, span, li {
  font-family: 'Source Serif 4';
}

body {
  background-color: #dcdcdc;
  padding: 0;
  margin: 0;
}

.kanankiri {
  display: flex;
  gap: 20px;
  background-color: #e6d5b8;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 0 20px 50px 20px;
  position: relative; /* For positioning pseudo-element */
}

.kanankiri::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid black; /* Border around the container */
  border-radius: 5px; /* Match the radius of the container */
  pointer-events: none; /* Prevent interaction with this pseudo-element */
}

.kanankiri::after {
  content: "";
  position: absolute;
  top: 0; /* Aligns with padding */
  bottom: 20px; /* Aligns with padding */
  left: calc(50%); /* Position in the center */
  width: 2px; /* Width of the inner border */
  background-color: black; /* Color of the inner border */
  height: 465px;
}


.kiri-container,
.kanan-container {
  flex: 1;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

input[type="file"] {
  display: none;
}

.file-upload-label {
  background-color: #ddd;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.imagepreview {
  margin-top: 10px;
  text-align: center;
}

.imagepreview img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
}

input[type="submit"] {
  background-color: #5cb85c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}
